<script language="javascript" type="text/javascript" src="funciones.js"></script>
<script type="text/javascript" src="js/jquery.js"></script>
<style  type="text/css">
.contenedor{
	width:105px; 
	float:left; 
	position: relative;
}
.imagen{
	width:100px; 
	height:100px; 
	margin-right:5px; 
	padding: 5px; 
	float:right;
}
.icono{
	width:20px; 
	position:absolute; 
	margin-left:73px; 
	margin-top:7px;
}

.spinner{
	width:100px; 
	height:100px; 
	position:absolute; 
	margin-left:-4px; 
	margin-top:5px;
	opacity:0.8;
	display:none;
}
</style >
<form name="upload_imagenes" action="upload_images_galeria.php" method="POST" enctype="multipart/form-data">
	<input type="hidden" value="{var_iID}" name ="id"/>
	<input name="imagenes[]" type="file" multiple="multiple" />
	<input type="submit" value="Subir"/>
</form>

<!--BEGIN BLOCK IMG-->
<div id="{var_iID-DIV}" class="contenedor">
	<img title="{var_sTitle}" src="{var_sPath}" class="imagen" />
	<a href="#" onclick="EliminarImg('{var_sPath}',{var_i});">
		<img src="iconos/recycle_bin.png" title="Quitar imagen" class="icono"/>
	</a>
	<img id="spinnerImg" src="iconos/spinner.gif" title="Procesando..." class="spinner"/>
</div>
<!--END BLOCK IMG-->
